.bigAlice{
    background-color: azure;
    height: 80%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.kutucuk{
  background-color: lavenderblush;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border: outset;
}
.inputcss{
    display: contents;
}
.bigConteiner{
    background-color:lavenderblush;
    height: 80%;
    width: 40%;
    margin: auto;
    border: groove;
    border-radius: 9px;

}
.HeaderToDo{
    height: 20%;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gg-add-r {
    box-sizing: border-box;
    position: relative;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    margin-left: 1rem;
 }
 .gg-add-r::after,
 .gg-add-r::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
 }
 .gg-add-r::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
 }
 .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }